/* General */

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

html {
    font-size: 62.5%;
    font-family: 'Open Sans', sans-serif;
}

/* Layout */


/* Links */


/* Buttons */


/* Typography */

h1 {
    font-family: 'Pacifico', sans-serif;
}

.profile-btn {
    background-image: url('photos/xiao-dp.jpg');
    background-size: 120%;
    height: 50px;
    width: 50px;
    border-style: none;
    border-radius: 100%;
}

